@claro:registry=https://pkgs.dev.azure.com/OrgClaroColombia/_packaging/claronpm/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/OrgClaroColombia/_packaging/claronpm/npm/registry/:username=OrgClaroColombia
//pkgs.dev.azure.com/OrgClaroColombia/_packaging/claronpm/npm/registry/:_password=azV0ZnV0cHZ2a3Z2NHVsZXdsZWFjeHd3bXJhemtic3pxbjRmenRpczRpa3hnamZ3M2ptYQ==
//pkgs.dev.azure.com/OrgClaroColombia/_packaging/claronpm/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/OrgClaroColombia/_packaging/claronpm/npm/:username=OrgClaroColombia
//pkgs.dev.azure.com/OrgClaroColombia/_packaging/claronpm/npm/:_password=azV0ZnV0cHZ2a3Z2NHVsZXdsZWFjeHd3bXJhemtic3pxbjRmenRpczRpa3hnamZ3M2ptYQ==
//pkgs.dev.azure.com/OrgClaroColombia/_packaging/claronpm/npm/:email=npm requires email to be set but doesn't use the value
; end auth token